@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head_principal {
    background-image: url(./tigre_pricipal.jpg);
    background-position: center;
    background-size: cover;
    /*Olhar sobre essas propriedade*/
    height: 768px;
}

.plano_fundo {
    background: rgba(0, 0, 0, 0.3);
    height: 768px;
}

.barra_navegacao {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    position: relative;
    top: -768px;
}

.box_titulo_menu {
    width: 1088px;
}

.barra_navegacao .box_titulo_menu {
    display: flex;
    justify-content: space-between;
}

.menu_navegacao {
    color: white;
    display: flex;
    flex-direction: row;
}

.titulo_navegacao {
    color: white;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.itens {
    padding: 30px;
}

.itens:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: 700;
}

main {
    color: white;
    position: relative;
    top: -480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main header {
    width: 100%;
    height: 260px;
    text-align: center;
}

.titulo {
    height: 60px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitulo {
    height: 15px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tags {
    color: white;
}

.titulo_menu {
    display: inline;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 16px 6px 16px;
    border-radius: 50px;
    margin-right: 16px;
}

.conteudo, .sidebar {
    background: white;
    border-radius: 10px;
    padding: 40px;
}

.conteudo {
    width: calc(((1088px / 12) * 8) - 16px);
    text-align: justify;
    margin-right: 16px;
}

.texto {
    color: #333333;
    margin-bottom: 16px;
    line-height: 1.5;
}

.sidebar {
    width: calc((1088px / 12) * 4);
}

.texto_lateral {
    color: #777777;
}

.sidebar_titulo {
    font-size: 28px;
    text-align: center;
    color: #777777;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sidebar_titulo:first-child {
    margin-top: 0px;
}

.item_lateral {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
}

.imagem {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

footer {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: -400px;
}

.rodape {
    color: white;
    line-height: 1.5;
    width: 1088px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_rodape {
    margin-top: 24px;
    margin-bottom: 42px;
}

a {
    color: white;
    font-weight: 700;
}