@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head_principal {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.head_titulo {
    font-size: 28px;
    color: #808080;
}

.head_lateral {
    display: flex;
    flex-direction: column;
    color: #243B82;
    font-size: 16px;
}

a {
    font-size: 12px;
    color: cornflowerblue;
}

.container {
    height: 700px;
    background: #F5F5FA;
    box-shadow: inset 3px 3px 6px 3px rgba(0, 0, 0, .2);
}

.conteudo {
    padding: 24px;
    display: flex;
}

.head_tabela {
    height: 35px;
    width: 900px;
    padding: 8px;
    color: #7A7D88;
}

table {
    border-collapse: collapse;
    width: 800px;
}
table tbody tr{
    border-bottom: 1pt solid #f7f1f1;
}
th{
    background: rgba(202, 195, 195, 0.2); 
    height: 40px;
    
}
td {
    background: white;
    text-align: left;
    padding: 13px;
}
span{
    color:rgba(12, 11, 11, 0.7);
}

.avisos {
    margin-top: 5px;
    margin-left: 30px;
    background: white;
    border-radius: 10px;

}

.head_avisos {
    border-radius: 10px 10px 0 0;
    background: rgba(37, 58, 172, 0.1);
    color: #243B82;
}

#p_head {
    padding: 24px;
    text-align: center;
}

#p_conteudo {
    padding: 24px;
    text-align: justify;
    line-height: 1.7;
    color: #243B82;
}

.footer_avisos {
    color: #243B82;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.footer_avisos:hover{
  cursor: pointer;
}
