@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #F5F5FA;
}
.head_principal {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0,0.2);
}

.head_titulo {
    font-size: 24px;
    color: #808080;
}

.head_lateral {
    display: flex;
    flex-direction: row;
    color: #243B82;
    font-size: 18px;
}

.head_lateral:hover {
    cursor: pointer;
}

a {
    font-size: 12px;
    color: cornflowerblue;
}

main{
    min-height: calc(100vh - 174px); /*174px= tamanho do rodapé + cabeçalho */
   
    padding: 24px;
    display: flex;
}
table {
    border-collapse: collapse;
    width: 800px;
    /* width: 100%; */
    color: #7A7D88;
}

table tbody tr {
    border-bottom: 1px solid rgba(202, 195, 195, 0.2);
}

th {
    background: rgba(182, 182, 187, 0.2);
    height: 40px;
    text-align: left;
    padding: 12px;
}

td {
    background: white;
    text-align: left;
    padding: 12px;
}

span {
    color:#444750;
    font-weight: bold;
}
.container_avisos{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.avisos {
    background: white;
    border-radius: 8px;
    flex-grow: 1;
    position: relative;
}

.head_avisos {
    height: 80px;
    border-radius: 8px 8px 0 0;
    background: rgba(182, 182, 187, 0.2);
    color: #243B82;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
}

.p_head {
    text-align: left;
}
.conteudo_avisos{
    padding: 24px;
    text-align: justify;
    line-height: 1.7;
    color: #243B82;
}

.footer_avisos {
    margin-left: 24px;
    margin-right: 24px;
    color: #243B82;
    width: calc(100% - 48px);
    position: absolute;
    bottom: 24px;
    display: flex;
    justify-content: space-between;    
}
.footer_tag{
    cursor: pointer;
    border-radius: 10em;
    padding: 6px 16px;
}
.footer_tag:hover {
    background: #243B82;
    color: white;
}
.seletor{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolinha{
    height: 8px;
    width: 8px;
    border: 1px solid #243B82;
    border-radius: 100%;
    margin-right: 2px;
}
.bolinha:hover{
    background: #243B82;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    cursor: pointer;

}
.opc{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    font-weight: bold;
    color:  #7A7D88;

}

.pagina{
    display: flex;
}
.opc_numero{
    margin-right: 4px;
    background: rgba(182, 182, 187, 0.5);
    padding: 4px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}
.opc_numero:last-child{
    margin-right: 0px;
}
.opc_numero:hover{
    background: #243B82;
    color: white;
   
}
.resultado{
    display: flex;
    align-items: center;    
}
.opc_resultado{
    background: #243B82;
    color: white;
    padding: 4px 12px;
    text-align: center;
    border-radius: 28px ;
    margin-right: 8px;
}

.rodape{
    background: #F5F5FA;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: block;
    color: #243B82;
    margin-left: 24px;
    padding: 6px 12px;
    height: 34px;
    text-align: center;
    background: rgba(182, 182, 187, 0.2);
    
}
.img_rodape{
    display: block;
    margin-left: auto;
    height: 94px;
}