.hide {
    display: none;
}

.exemple-layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 300px);
}

.exemple-layout header,
.exemple-layout footer {
    padding: 20px;
    background: #999;
    color: white;
}

.exemple-layout .body {
    display: flex;
    flex-grow: 1;
    background: pink;
}

.exemple-layout .body .col-1 {
    background: lightblue;
    flex-grow: 1;
}

.exemple-layout .body .col-2 {
    background: honeydew;
    width: 160px;
    order: -1;
}

.exemple-layout .body .col-3 {
    background: peachpuff;
    width: 160px;
}

@media (max-width: 800px) {
    .exemple-layout .body {
        flex-direction: column;
    }
    .exemple-layout .body .col-2,
    .exemple-layout .body .col-3 {
        width: auto;
    }
    .exemple-layout .body .col-2 {
        order: 0;
    }
    .exemple-media .media {
        display: flex;
    }
    .img {
        margin-right: 10px;
    }
    .content {
        flex: 2;
    }
    .input {
        padding: 10px;
        flex: 1;
    }
}